@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap');
body{
    font-family: 'Lora', serif;
}
.div{
    text-align: center;
    padding: 1rem;
    padding-bottom: 1rem;
}
.button{
    padding:0.5rem;
    margin-top:1.5rem;
    margin-left:47.5%;
    font-style: italic;
    border-radius: 1rem;
}
.header{
    text-align: center;
}
.navigation{
    padding:1rem;
    background-color:#FFBF00;
    opacity: 0.6;
    padding:2rem;
    font-size:x-large;
    color: black;

}
.foot{
    padding:1rem;
    background-color:#FFBF00;
    opacity: 0.6;
    padding:2rem;
    font-size:x-large;
    color: black;
    text-align: center;

}